# Created by venv; see https://docs.python.org/3/library/venv.html
venv/

.env

db.sqlite3

media/

__pycache__/

*.pyc

.idea/

.vscode/

.coverage

.pytest_cache/

*.log

# Django migrations
**/migrations/*.py
!**/migrations/__init__.py