# Python

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# Django

*.log
db.sqlite3
db.sqlite3-journal
*.sqlite
staticfiles/

# Environment / Secrets

.env
.env.*
!.env.example

# Media / User Uploaded Files

media/

# IDE / Editors

.vscode/
.idea/
*.swp
*.swo

# OS

.DS_Store
Thumbs.db

# Coverage / Testing

.coverage
htmlcov/
.pytest_cache/

# Build / Distribution

build/
dist/
*.egg-info/



# Do NOT ignore migration files themselves.
# Migration files should normally be committed.